/* ============
 * Main Stylesheet
 * ============
 *
 * Used for the global application styling.
 *
 * The stylus CSS-preprocessor is used for this boilerplate.
 * If you don't want to use Stylus, that's fine!
 * Replace the stylus directory with the CSS preprocessor you want.
 * Require the stylesheet in the bootstrap.js file & install the webpack loader.
 *
 * It's that easy...
 *
 * http://stylus-lang.com/
 */

bc-basecamp = #b3dcff
bc-basecamp-1 = #b3dcff
bc-basecamp-2 = #5ecc62
bc-basecamp-3 = #00ad45
bc-bitly = #ee6123
bc-bitly-1 = #ee6123
bc-bitly-2 = #61b3de
